* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: "PT Serif", serif;
  }
  .navigation {
    width: 100%;
    height: 50px;
    background-color: rgb(23, 141, 102);
    display: flex;
    border-bottom: 1px solid gray;
  }
  .logo {
    width: 75px;
    position: absolute;
    left: 0px;
    height: 50.4px;
    top: 0;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: blue;
  }
  
  .h1tagnavigation{
      font-size: 25px;
      color:transparent;
      border: 2px solid black;

  }
  .h1tagnavigation:hover{
      color: green;
      font-size: 28px;
  }
  .searchbar:hover {
    border: 2px solid blue;
  }
  .searchbtn {
    height: 32px;
    margin-left: 15px;
    border-radius: 50px;
    border: 2px solid black;
  }
  
  
  .alinkabout {
    text-decoration: none;
    color: black;
  }
  .alinkabout:hover {
    color: blue;
  }
  .footer li {
    font-size: 25px;
    list-style: none;
    margin: 15px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    font-variant-caps: all-petite-caps;
    border-bottom: 1px solid black;
    width: 90%;
    margin-top: 10px;
  }
  
  .footer {
    text-align: center;
    position: absolute;
    padding-bottom: 0 auto;
    margin-bottom: 0 auto;
    top: 3500px;
    height: 230px;
    width: 100%;
    border-top: 1.5px solid gray;
    background-color: rgb(23, 141, 102);
  }
  .twitterlogo {
    width: 35px;
    margin-left: 20%;
    cursor: pointer;
  }
  
  .discordlogo {
    width: 35px;
    margin-left: 25%;
    cursor: pointer;
  }
  .githublogo {
    margin-right: 15%;
    width: 35px;
    margin-left: 25%;
    cursor: pointer;
  }