* {
  margin: 0 auto;
  padding: 0 auto;
  font-family: "PT Serif", serif;
}
.navigation {
  width: 100%;
  height: 50px;
  background-color: rgb(23, 141, 102);
  display: flex;
  margin-right: 5px;
}
.logo {
  width: 75px;
  position: absolute;
  left: 0px;
  height: 50.4px;
  top: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: blue;
}
li{
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  margin: 5px;
}
li:hover{
  text-decoration: underline;
  cursor: pointer;
}
ul.blalist {
  display: flex;
  width: 260px;
  margin-left: 100px;
  list-style: none;
  text-decoration: none;
  padding-top: 5px;
  text-align: center;
  font-size: 25px;
  font-variant-caps: all-petite-caps;
  cursor: pointer;
}
.phonenamesli {
  top: 100px;
  text-decoration: none;
  font-size: 25px;
  list-style: none;
  padding-top: 20px;
  width: 160px;
  margin-left: 35px;
  display: flex;
  text-align: left;
  flex-direction: column;
  font-variant-caps: all-petite-caps;
}
.phonenamesli:hover {
  color: blue;
  cursor: pointer;
  border-bottom: 2.5px solid black;
}

.alinkabout {
  text-decoration: none;
  color: black;
}
.alinkabout:hover {
  color: blue;
}

.footer {
  text-align: center;
  position: absolute;
  top: 3500px;
  height: 100px;
  width: 100%;
  border-top: 1.5px solid gray;
  background-color: rgb(23, 141, 102);
}


/*THIS IS FOR SMALL DEVICES LIKE PHONESS TO TABLETS*/



