* {
  margin: 0 auto;
  padding: 0 auto;
  font-family: "PT Serif", serif;
}
.navigation {
  width: 100%;
  height: 50px;
  background-color: rgb(23, 141, 102);
  display: flex;
  border-bottom: 1px solid gray;
}
.logo {
  width: 75px;
  position: absolute;
  left: 0px;
  height: 50.4px;
  top: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: blue;
}
ul.blalist {
  display: flex;
  width: 260px;
  margin-left: 100px;
  list-style: none;
  text-decoration: none;
  padding-top: 5px;
  text-align: center;
  font-size: 25px;
  font-variant-caps: all-petite-caps;
  cursor: pointer;
}
.searchbar {
  border-radius: 10px;
  border: 1.4px solid gray;
  height: 32px;
  text-align: left;
  font-size: 15px;
  width: 750px;
  margin-top: 10px;
}
.searchbar:hover {
  border: 1.6px solid blue;
}
.phonenamesli {
  top: 50px;
  text-decoration: none;
  font-size: 25px;
  list-style: none;
  padding-top: 20px;
  width: 160px;
  margin-left: 35px;
  display: flex;
  text-align: left;
  flex-direction: column;
  font-variant-caps: all-petite-caps;
}
.phonenamesli:hover {
  color: blue;
  cursor: pointer;
}

.alinkabout {
  text-decoration: none;
  color: black;
}
.alinkabout:hover {
  color: blue;
  font-size: 26px;
  font-weight: bolder;
}
.footer li {
  font-size: 25px;
  list-style: none;
  margin: 15px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  font-variant-caps: all-petite-caps;
  border-bottom: 1px solid black;
  width: 90%;
  margin-top: 10px;
}

.footer {
  text-align: left;
  position: absolute;
  padding-bottom: 0 auto;
  margin-bottom: 0 auto;
  top: 3100px;
  height: 250px;
  width: 100%;
  border-top: 1.5px solid gray;
  background-color: rgb(23, 141, 102);
}
.twitterlogo {
  width: 35px;
  margin-right: 50px;
  margin-left: 50px;
  cursor: pointer;
}
.discordlogo {
  width: 35px;
  margin-right: 50px;
  margin-left: 50px;
  cursor: pointer;
}
.githublogo {
  width: 35px;
  margin-right: 50px;
  margin-left: 50px;
  cursor: pointer;
}
/*THIS IS FOR SMALL DEVICES LIKE PHONESS TO TABLETS*/
/*
@media screen and (min-width: 320px) and (max-width: 720px) {
  .searchbar {
    border-radius: 10px;
    border: 1.5px solid gray;
    height: 32px;
    text-align: left;
    font-size: 15px;
    width: 300px;
    margin-top: 10px;
  }
  .searchbar:hover {
    border: 1.6px solid blue;
  }
  .navigation {
    width: 100%;
    height: 50px;
    background-color: rgb(23, 141, 102);
    display: flex;
    border-bottom: 1px solid gray;
  }
  ul.blalist {
    display: flex;
    width: 260px;
    margin-left: 100px;
    list-style: none;
    text-decoration: none;
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    font-variant-caps: all-petite-caps;
    cursor: pointer;
  }
  .phonenamesli {
    top: 50px;
    text-decoration: none;
    font-size: 25px;
    list-style: none;
    padding-top: 20px;
    width: 160px;
    margin-left: 35px;
    display: flex;
    text-align: left;
    flex-direction: column;
    font-variant-caps: all-petite-caps;
  }
  .footer li {
    font-size: 25px;
    list-style: none;
    margin: 15px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    font-variant-caps: all-petite-caps;
    width: 100%;
  }

  .alinkabout {
    text-decoration: none;
    color: black;
  }
  .alinkabout:hover {
    color: blue;
    font-size: 26px;
    font-weight: bolder;
  }

  .footer {
    text-align: left;
    position: absolute;
    padding-bottom: 0 auto;
    margin-bottom: 0 auto;
    top: 3100px;
    height: 180px;
    width: 100%;
    border-top: 1.5px solid gray;
    background-color: rgb(23, 141, 102);
  }
}
*/

/*THIS IS FOR SMALL LAPTOPTS TO HIGHT RESELUTION PC SCREENS*/
/*
@media screen and (min-width: 1024px) and (max-width: 2560px) {
  .searchbar {
    border-radius: 10px;
    border: 1.5px solid gray;
    height: 32px;
    text-align: left;
    font-size: 15px;
    width: 900px;
    margin-top: 10px;
  }
  .searchbar:hover {
    border: 1.6px solid blue;
  }
  .phonenamesli {
    top: 50px;
    text-decoration: none;
    font-size: 25px;
    list-style: none;
    padding-top: 20px;
    width: 160px;
    margin-left: 35px;
    display: flex;
    text-align: left;
    flex-direction: column;
    font-variant-caps: all-petite-caps;
  }
}
*/
