* {
  margin: 0 auto;
  padding: 0 auto;
  font-family: "PT Serif", serif;
}
.navigation {
  width: 100%;
  height: 50px;
  background: linear-gradient(rgb(48, 97, 153), rgb(30, 58, 134));
  display: flex;
  border-bottom: 1px solid gray;
}
ul.blalist {
  display: flex;
  width: 300px;
  list-style: none;
  text-decoration: none;
  padding-top: 5px;
  text-align: center;
  font-size: 25px;
  font-variant-caps: all-petite-caps;
  justify-content: space-between;
  cursor: pointer;
}
.searchbar {
  border-radius: 10px;
  border: 1.5px solid gray;
  height: 35px;
  text-align: center;
  width: 350px;
  margin-top: 10px;
}
.searchbar:hover {
  border: 1.6px solid blue;
}
.phonenamesli {
  position: relative;
  top: 50px;
  font-size: 25px;
  list-style: none;
  padding-top: 20px;
  width: 130px;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  font-variant-caps: all-petite-caps;
}
.phonenamesli:hover {
  color: red;
  cursor: pointer;
}

.footer {
  position: absolute;
  padding-bottom: 0 auto;
  margin-bottom: 0 auto;
  top: 3000px;
  height: 300px;
  width: 100%;
  border-top: 1px solid gray;
  background: linear-gradient(rgb(3, 3, 3), rgb(41, 41, 41));
}
